.headerImage {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: mediumaquamarine;
  padding-top: 130px;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
}

@media only screen and (min-width: 1024px) {
  .headerImage {
    position: relative;
    height: 100%;
    width: 35%;
    padding-top: 10px;
    margin-top: 240px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

.fa-level-up-alt {
  width: 150px;
  height: 150px;
  background-color: mediumaquamarine;
  border-radius: 75px;
  border: none;
  position: fixed;
  bottom: 200px;
  right: 100px;
}