.nav {
  display: flex;
  z-index: 1;
  position: fixed;
  justify-content: space-between;
  height: 120px;
  background-color: #4056A1;
  color: #FFFF;
  padding: 1.5em;
  width: 100%;
}

.appName {
  font-family: 'Bungee', cursive;
}

.newTweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}