.tweet-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  height: auto;
}


.composed-article:hover {
  box-shadow: darkgray 5px 5px;
}

.composed-article {
  display: flex;
  border: 3px solid black;
  margin-top: 10px;
  flex-direction: column;
}

.composed-header {
  font-family: 'sans-serif-pro';
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: row;
}

.composed-username {
  display: inline;
  justify-content: flex-end;
  margin-right: 10px;
  color: grey;
}

.composed-profile {
  display: inline;
  margin-left: 10px;
}

.composed-body {
  border-bottom: 2px solid black;
  margin-left: 10px;
  margin-right: 10px;
}

.composed-footer {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  align-items: center;
}

.btns {
  color: #4056A1;
}

.fa-flag:hover,
.fa-retweet:hover,
.fa-heart:hover {
  color: mediumaquamarine;
}

@media only screen and (min-width: 1024px) {
  .tweet-list {
    width: 65%;
  }
}